:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --boder-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #ffce3e;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}


/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: 66.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3332%
}


/* btn style */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--nomarl:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-disnable {
    cursor: default;
    background-color: #ccc;
    color: #949494;
}


/* modal */

.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.modal__body {
    position: relative;
    margin: auto;
}


/* selection */

.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list::before {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 4px;
    top: -4px;
}

.select-input__list {
    position: absolute;
    top: calc(100% - 12px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}


/* pagination */

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    line-height: var(--height);
    color: #939393;
    display: block;
    min-width: 40px;
    height: var(--height);
    text-align: center;
}

.pagination-item__link--active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link--active:hover {
    filter: brightness(120%);
}


/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}